@import "animation.css";


#navbar {
	box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

#seccond-navbar {
	height: 5%; 
	box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.08);
}


#btn-new {
	margin-top: 3%;
	margin-right:5px;
	border:none; 
	color:white;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

#btn-info{
	margin-top: 3%;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
	color:white; 
	border: none;
}





.wall.animate{
	 animation: 5s wobble linear;
	
}

.wall pink {
	background-color: #e7008a;
}

.wall blue {
	background-color: #0099ff;
}

.wall red {
	background-color: #E72553;
}

.wall purple {
	background-color: #5000ca;
}

.wall cian {
	background-color: #3CD6F0;
}

.wall green {
	background-color: #00cba9;
}

.wall orange {
	background-color: #FF5500;
}

.wall black {
	background-color: #273036;
}


