@import "animation.css";


#navbar {
	box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

#seccond-navbar {
	height: 5%; 
	box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.08);
}


#btn-new {
	margin-right:5px;
}


#btn-new, #btn-info{
	margin-top: 3%;
	border: none;
	color:white; 
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}



.wall.animate{
	 animation: 5s wobble linear;
	
}

.wall {
	background-size:cover;
	background-repeat: no-repeat;
}

.pinkP {
	background-image: url('../img/pink.svg')
}

.blueP {
	background-image: url('../img/blue.svg')
}

.redP {
	background-image: url('../img/red.svg')
}

.purpleP {
	background-image: url('../img/purple.svg')
}

.cianP {
	background-image: url('../img/cian.svg');
}

.greenP {
	background-image: url('../img/green.svg')
}

.orangeP {
	background-image: url('../img/orange.svg')
}

.blackP {
	background-image: url('../img/black.svg')
}

.galaxyP{
	background-image: url('../img/galaxy.jpg');
}


