@import "animation.css";

.default{
	top:0;
	padding:0;
	margin:0;
	border: 0;
	
}


.default.animate{
	animation: 5s wobble;
}

#seccond-navbar{
	height: 5%;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.05);
}

#btn-new-list{
	margin-top: 3%;
 	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

#list-titulo{
	text-align: center;
	margin-top: 2%;
	margin-bottom: -2.5%;
}

