body {
    height: 100%;
}

nav {
    box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.cartao {
    color: white;
}

.titulo {
	margin-top: 1%;
    font-family: 'Nexa Bold', sans-serif;
    font-size: 2.3rem;
    font-weight: 900 !important;
    margin-bottom: 0 !important;
    color: #fff;
}

 :focus {
    outline: none;
}

.botao {
    width: 180px;
    height: 60px;
    color: white;
    border: 0.5px solid white;
    border-radius: 1em;
    align-content: center;
    transition: color 0.6s, background 0.6s;
    position: relative;
    z-index: 999;
}

.btn:hover {
    background: white;
    color: #6e4af6;
    box-shadow: none;
}

.hero.is-relative {
    position: relative
}

.hero.is-theme-secondary {
    background-color: #7F00FF;
}

#landing-hero {
    background: #7F00FF url(../img/icon-bg.png) repeat 0 0;
    -webkit-animation: 18s linear 0s normal none infinite animate;
    animation: 18s linear 0s normal none infinite animate
}

@-webkit-keyframes animate {
    from {
        background-position: 0 0
    }
    to {
        background-position: 0 -1450px
    }
}

@keyframes animate {
    from {
        background-position: 0 0
    }
    to {
        background-position: 0 -1450px
    }
}


/* line 93, src/assets/scss/pages/_pages-landing-kit1.scss */

.hero.hero-waves:before {
    background: transparent url(../img/wavy.png) no-repeat scroll 0 bottom/100% auto;
    content: "";
    height: 50%;
    width: 100%;
    z-index: 0 !important;
    position: absolute;
    bottom: -1px;
    left: 0
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* line 540, src/assets/scss/pages/_pages-landing-kit1.scss */
    #landing-hero figure img {
        left: 25%;
        top: 20%
    }
}


/*search */

  .containerSearch .searchbox {
            position: relative;
            display: block;
            width: 100%;
            max-width: 53px;
            transition: 0.4s linear;
            overflow: hidden;
            transition: 0.8s linear;
        }
        
        .containerSearch .searchbox .searchbox__input {
            display: block;
            appearance: none;
            width: 100%;
            border: none;
            outline: none;
            border-radius: 50px;
            background-color: transparent;
            padding: 15px;
            color: transparent;
            font-size: 20px;
            cursor: pointer;
            transition: 0.8s linear;
        }
        
        .containerSearch .searchbox .searchbox__input::placeholder {
            color: transparent;
        }
        
        .containerSearch .searchbox .searchbox__input:focus::placeholder {
            color:  #6e4af6;
        }
        
        .containerSearch .searchbox .searchbox__input:focus {
            color:  #6e4af6;
        }
        
        .containerSearch .searchbox .searchbox__icon {
            position: absolute;
            right: calc(53px / 2);
            top: 50%;
            transform: translate(50%, -50%);
            width: 20px;
            height: 20px;
            pointer-events: none;
        }
        
        
        .containerSearch .searchbox .searchbox__icon path {
            fill: rgb(255, 255, 255);
            transition: 0.8s linear;
        }
        
        .containerSearch .searchbox:focus-within {
            max-width: 300px;
        }
        
        .containerSearch .searchbox:focus-within .searchbox__input {
            background-color: white;
            padding-right: 50px;
        }
        
        .containerSearch .searchbox:focus-within .searchbox__icon path {
            fill:  #6e4af6;
        }
		
		
		
		button[type="submit"] {
			  border: none;
			  background: none;
			  padding: 0;
			  margin: 0;
			  display: block;
			}




