					
					
					#navbar {
						box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
					}
					
					#2navbar{
						box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.08);
						height: 5%;
					}
					
					#btn-new-list{
					margin-top: 3%;
					border:none;
					color:white; 
					box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
					}
					
					#list-titulo{
						text-align: center;
						margin-top: 4%; 
						color: white;
					}
					
				
					.pink{
					background-color: #e7008a;}
					
					.blue{
					background-color: #0099ff;}
					
					.red{
					background-color: #E72553;}
                    
                    .purple{
                    background-color: #5000ca;}
                    
                    .cian{
                    background-color: #3CD6F0;}
                    
                    .green{
                    background-color: #00cba9;}    
                    
                    .orange{
                    background-color: #FF5500;}
                    
                    .black{
                    background-color: #273036;}
                    
                    .default{
                   	border: 1px solid black;
                   	line-height: 19px;
   					align-items: center;
   					justify-content: center;
   					padding: 3px 3px;   					
                   	}
                   