.more-info{
    max-height: 500px;
    transition: all 0.4s ease-out;
    animation: showAppear 1s;
}

.more-info-collapsed{
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-in-out;
}