
:root {
    --pink: #e7008a;
    --blue: #0099ff;
    --red: #E72553;
    --purple: #5000ca;
    --cian: #3CD6F0;
    --green: #00cba9;
    --orange: #FF5500;
    --black: #273036;
    --hover-color: #e7008a;
}

.items {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.theme {
    display: inline-block;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    transition: 0.5s;
}

.pink {
    background-color: var(--pink);
    --hover-color: var(--pink);
}

.blue {
    background-color: var(--blue);
    --hover-color: var(--blue);
}

.red {
    background-color: var(--red);
    --hover-color: var(--red);
}

.purple {
    background-color: var(--purple);
    --hover-color: var(--purple);
}

.cian {
    background-color: var(--cian);
    --hover-color: var(--cian);
}

.green {
    background-color: var(--green);
    --hover-color: var(--green);
}

.galaxy {
    background-image: url('../img/galaxy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    --hover-color: var(--purple);
}

.orange {
    background-color: var(--orange);
    --hover-color: var(--orange);
}

.black {
    background-color: var(--black);
    --hover-color: var(--pink);
}


.icon-default {
    background-image: url('../img/x.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: 0.1px solid black;
    --hover-color: var(--pink);
}


.theme:hover {
    height: 21px;
    width: 21px;
    border: 0.3px solid var(--hover-color);
}
